{% load rest_framework %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>
        gaadi
    </title>
    <script src={% static "index.js"%}> </script>
</head>
<body>
    <ul>
    {% for manufacturer in manufacturers %}
    <li>
        <a href={% url 'manufacturer-detail' pk=manufacturer.pk %}><h2>{{ manufacturer.name }}</h2></a>
        <img src={% get_media_prefix %}{{ manufacturer.logo }}/><br>
        <a href="{{ manufacturer.url }}"> go to website </a>
        <button onclick="deleteObject('{% url "manufacturer-detail" pk=manufacturer.pk%}')"> delete </button>

    </li>
    {% endfor %}
    </ul>

    <br><br>
    <h1> Add new manufacturer! </h1>
    <form action="{% url 'index'%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit">
    </form>
</body>

</html>
